@media (max-width: 1200px) {
  /* container size */
  .container {
    width: 900px;
    margin: 0 auto;
  }

  /* header */
  .header-logo img {
    max-width: 30%;
  }

  /* about page */
  #about {
    margin-top: 15rem;
  }

  .about-info {
    padding: 1rem 3rem;
    position: relative;
  }

  .about-info p {
    margin-top: 1rem;
  }

  .about-info button {
    margin-top: 1rem;
  }

  /* gallery page */
  .gallery-info {
    margin-top: 15rem;
  }

  /* partners page */
  .carusel-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carusel-box img {
    width: 70%;
  }

  .carusel-box:first-child img {
    width: 40%;
  }

  /* contact page */
  .contact-map .box {
    width: 70%;
  }

  .contact-map .box {
    overflow: hidden;
  }

  #contact {
    padding: 4rem 0;
  }

  /* products */
  .product {
    width: 31%;
  }

  .footer-border {
    width: 900px;
  }

  #header .menu-default a.active::before {
    bottom: 2rem;
  }
}

@media (max-width: 992px) {


    body {
        width: 100%;
    }
    .container {
        max-width: 700px;
    }

    .footer-border {
        width: 700px;
    }

    .contact-email {
        width: 100%;
        overflow: hidden;
    }

    .menu-default {
        display: none;
    }

    .menu {
        display: block;
    }    

    #header nav {
        padding: 1rem;
    }

    .contact-email {
        width: 100%;
        margin-bottom: 15rem;
        display: grid;
        justify-content: center;
        gap: 3rem;
      }

      .contact-email img {
        width: 100%;
      }
    
      .contact-email img {
        min-height: 100%;
        overflow: hidden;
      }
    
      .contact-email .name {
        font-size: 22px;
      }
    
      .contact-email h2 {
        font-size: 40px;
      }
    
      .contact-email input {
        width: 500px;
      }
    
      .contact-email div {
        gap: 3rem;
        flex-direction: column;
      }
    
      .contact-email div input {
        width: 500px;
      }
    
      .contact-email input::placeholder {
        font-size: 18px;
      }
    
      .contact-map {
        width: 100%;
        top: 42.5rem;
      }
    
      .contact-map iframe {
        width: 100%;
        height: 100%;
      }

      #contact .container {
        flex-direction: column;
      }
      .contact-email {
        width: 100%;
      }

      footer {
        margin-top: 41.5rem;
      }
    
      footer img {
        width: 20%;
      }
    
      footer p {
        font-size: 16px;
      }

      .product img {
        width: 100%;
      }

      .header-info a {
        font-size: 16px;
      }

      .header-info button {
        font-size: 10px;
        width: 150px;
        padding: 10px 1rem;
      }

      .header-logo img{
        max-width: 70%;
        margin-right: 1rem;
      }

      .header-carusel h2 {
        font-size: 20px;
      }

      .header-carusel p {
        font-size: 16px;
      }

      #gallery .border {
        top: 28rem;
      }

      .gallery-info {
        margin-top: 5rem;
      }
      
      .partners-advertisement {
        flex-direction: column;
        width: 100%;
      }

    #partners .right, #partners .left {
        width: 100%;
      }

        #about {
    position: relative;
    flex-direction: column;
    margin: 8rem 0 4rem 0;
  }

  .about-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: grid;
    justify-content: center;
  }

  .about-info {
    width: 100%;
  }

  .about-info p {
    font-size: 20px;
  }

  .about-info button {
    margin-top: 3rem;
    font-size: 16px;
    padding: 1rem 2rem;
    width: fit-content;
  }
    
}

@media (max-width: 768px) {

    

  .container {
      width: 576px;
  }

  #header div .header-email {
    display: none;
  }

  #header div .header-phone {
    display: none;
  }

  .header-logo {
    max-width: 20%;
  }

  .header-btn {
    margin-left: 16rem;
  }

    .footer-border {
        width: 576px;
    }

    .footer-p {
      width: 576px;
    }

  .header-logo img {
    min-width: 40%;
  }

  /* about */

  .gallery-info {
    flex-direction: column;
  }

  .gallery-info-1,
  .gallery-info-2 {
    width: 100%;
  }

  #gallery .border {
    top: 26rem;
  }


  #products {
    height: fit-content;
    width: 100%;
  }

  #products p:first-child {
    font-size: 23px;
    margin-left: 10rem;
  }

  #products h2 {
    font-size: 34px;
    margin-left: 7rem;
    margin: 2rem 0 4rem 7rem;
  }

  .products-box {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .product {
    width: 50%;
    padding: 4rem 3rem;
    border-radius: 15px;
  }

  .product h4 {
    font-size: 24px;
  }

  .product p {
    font-size: 20px;
  }

  .product a {
    font-size: 20px;
  }

  #blog .name {
    font-size: 22px;
    margin-left: 7rem;
  }

  #blog h2 {
    font-size: 30px;
    margin-left: 4rem;
  }

  #blog .product {
    width: 70%;
    display: flex;
    flex-direction: row;
  }

  #blog .product img {
    width: 50%;
  }

  #blog .blog-product-text {
    width: 400px;
  }

  #blog .blog-product-text h4 {
    margin-bottom: 1rem;
    font-size: 24px;
  }

  #blog .blog-product-text p {
    font-size: 22px;
  }

  .contact-email img {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .contact-email {
    width: 100%;
    overflow: hidden;
  }

  .swiper-button-next {
    top: 22.5rem!important;
  }

  .swiper-button-prev {
    top: 22.5rem!important;
  }
}

@media (max-width: 576px) {


    .about-info p {
        font-size: 16px;
        margin-top: 2rem;
    }

  .container {
    max-width: 400px;
  }

  .footer-border {
    width: 400px;
  }

  .footer-p {
    font-size: 14px;
    width: 400px;
  }

  #header .header-logo {
    min-width: 20%;
  }

  .header-btn {
    margin-left: 7.5rem;
  }

  .contact-email {
    width: 100%;
    gap: 2rem;
    display: grid;
    justify-content: center;
    overflow: hidden;
  }

  .contact-email img {
    width: 100%;
    object-fit: cover;
  }

  .contact-email div input {
    width: 300px;
  }

  .contact-email input{
    width: 300px;
  }

  .contact-email input::placeholder {
    font-size: 14px;
  }

  #gallery .name {
    font-size: 16px;
    left: 2rem;
  }

  #gallery h2 {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .gallery-images {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .gallery-images a {
    width: 70%;
  }

  .gallery-images div {
    width: 70%;
    flex-wrap: wrap;
    flex-flow: row;
  }

  #gallery .border {
    top: 52rem;
  }
  .gallery-info {
    width: 80%;
    margin-left: 2rem;
  }

  .swiper-slide {
    padding: 1rem;
    margin: 3rem 0;
  }

  header {
    height: 70vh;
  }

  .swiper-button-next {
    top: 13rem!important;
  }

  .swiper-button-prev {
    top: 17.5rem!important;
  }

  .swiper-slide h4 {
    font-size: 15px;
  }

  .swiper-slide p {
    font-size: 14px;
  }

  #products p {
    font-size: 16px;
  }

  .product {
    width: 80%;
  }

  #blog .product {
    flex-direction: column;
    width: 70%
  }

  #blog .product div {
    width: 100%;
  }

  #blog .product img {
    width: 100%;
  }

  #blog .product p {
    font-size: 16px;
  }
}


@media (max-width: 425px) {

    #partners .right {
    flex-direction: column;
  }

  #partners .left {
    flex-direction: column;
  }
    .container {
        max-width: 300px;
    }

    .footer-border {
        width: 300px;
    }

    .footer-p {
        width: 300px;
    }

    #header {
        height: 75vh;
    }

    #header .header-logo {
      min-width: 30%;
    }

    .header-btn {
      margin-left: 0.5rem;
    }

    .swiper-button-next {
        top: 12rem!important;
    }

    #products p {
        left: -8rem;
    }

    #products h2 {
        margin-left: -1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #blog .name {
        left: -4rem;
    }

    #blog h2 {
        margin-left: 0;
    }

    #gallery .border {
        top: 42rem;
    }

    .about-info button {
        margin-top: 3rem;
        font-size: 14px;
        padding: 1rem 2rem;
        width: fit-content;
      }

      .swiper-button-prev {
        top: 21rem!important;
      }

      .swiper-button-next {
        top: 14.5rem!important;
      }

      .contact-map .box {
        width: 90%;
      }

      footer img {
        width: 40%;
      }

      #patrners img {
        padding: 0;
      }

      #partners .right {
        height: 100%;
        width: 100%;
      }
}

@media (max-width: 320px) {

  .container {
    max-width: 300px;
  }

  .footer-p {
    width: 300px;
  }

  .footer-border {
    width: 300px;
  }

  #products p {
    left: -4rem;
    font-size: 14px!important;
  }

  #products h2 {
    font-size: 24px;
    margin-left: 3rem;
  }

  .product h4{
    font-size: 16px;
  }

  .product a{
    font-size: 16px;
  }

  .contact-email input {
    width: 250px;
  }

  .contact-email div input {
    width: 250px;
  }

  #gallery .border {
    top: 40rem;
    width: 280px;
  }

  .swiper-button-prev {
    top: 21.5rem!important;
  }

  .header-btn {
    margin-left: 12px;
  }

  #blog .name {
    left: -2rem;
    font-size: 18px;
  }

  #blog h2 {
    margin-left: 2rem;
    font-size: 22px;
    margin-bottom: 0;
  }

  #gallery .border {
    top: 42rem;
  }


  #partners .name {
    font-size: 16px;
    margin-bottom: 1.5rem;
  }


  #partners h2 {
    font-size: 22px;
    margin: 0;
  }
}